.password-text {
    object-fit: cover;
    position: absolute;
    /*top: 666px;*/
    width: 119px;
    height: 25px;
    /*left: 734px;*/
    margin-left: 40%;
    margin-top: 34%;
}

.password-textbox {
    border-radius: 22px;
    cursor: pointer;
    object-fit: cover;
    position: absolute;
    transition: all 0.2s ease;
    /*top: 706px;*/
    width: 522px;
    height: 77px;
    /*left: 728px;*/
    margin-top: 36%;
    margin-left: 40%;
}

.password-textbox:hover {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.password::placeholder {
    color: #98969699;
}

.password {
    background-color: transparent;
    border: 0;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: 25px;
    padding: 0;
    position: absolute;
    /*top: 732px;*/
    width: 459px;
    height: 27px;
    /*left: 752px;*/
    margin-top: 37.5%;
    margin-left: 42%;
}

/* mobile screen size*/
@media screen and (max-width: 800px) {
    .password-textbox{
        margin-left: 20%;
        margin-top: 63%;
    }
    .password-text{
        width: 121px;
        height: 25px;
        margin-top: 59%;
        margin-left: 20%;
    }
    .password {
        width: 458px;
        height: 27px;
        margin-left: 22%;
        margin-top: 66%;
    }
}