
.clock-in {
    width: 80%;
    height: 200px;
    box-shadow: 0 3px 10px rgb(0 0 0 );
    padding-top: 1px;
    padding-left: 15px;
    margin: 40px 7%;
    border-radius: 20px;
    float: left;
}

@media screen and (min-width: 705px){
    .clock-in{
        width: 100%;
        margin: 40px 5% 10px 17%;
        height: 250px;
    }
}

.button-div{
    background-color: #76CC4D;
    border-radius: 60px;
    height: 40%;
    width: 40%;
    float: right ;
    bottom: -5%;
    margin-right: 15%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}
