
.historicalRecord {
    width: 80%;
    height: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 );
    padding-top: 1px;
    padding-left: 15px;
    margin: 40px 7% 20px 8%;
    border-radius: 20px;
}

@media screen and (min-width: 705px){
    .historicalRecord{
        width: 60%;
        margin: 40px 4% 30px 5%;
        float: right;

    }
}