.monthlyQuestionnaireForm {
    text-align: center;
    padding-left: 40em;
    padding-right: 40em;
}

.monthlyQuestionnaireHeading {
    text-align: center;
    font-size: 300%;
    padding-bottom: 0.5em;
}