.navbar{
    background: #76CC4D;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.menu-icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        font-size: 2rem;
        top: 30px;
        right: 30px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 0.9;
        transition: all 0.5s ease;
    }

    /*.nav-menu-active:focus{*/
    /*    opacity: 1;*/
    /*    text-decoration: underline;*/
    /*}*/

    .nav-menu-active {
        background: #76CC4D;
        display: flex;
        right: 0;
        flex-direction: column;
        width: 60%;
        height: 90vh;
        position: absolute;
        top: 80px;
        opacity: 0.9;
        transition: all 0.6s ease;
        z-index: 1;
    }
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: #f00946;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .nav-item:hover {
        border: none;
    }

    .nav-item {
        width: 100%;
    }
}
