.password-text {
    object-fit: cover;
    position: absolute;
    width: 119px;
    height: 25px;
    margin-left: 40%;
    margin-top: 34%;
}

.password-textbox {
    border-radius: 22px;
    cursor: pointer;
    object-fit: cover;
    position: absolute;
    transition: all 0.2s ease;
    width: 522px;
    height: 77px;
    margin-top: 36%;
    margin-left: 40%;
}

.password-textbox:hover {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.password::placeholder {
    color: #98969699;
}

.password {
    background-color: transparent;
    border: 0;
    outline: none;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: 25px;
    padding: 0;
    position: absolute;
    width: 459px;
    height: 27px;
    margin-top: 37.5%;
    margin-left: 42%;
}

/* mobile screen size*/
@media screen and (max-width: 800px) {
    .password-textbox{
        margin-left: 10%;
        margin-top: 155%;
        width: 300px;
        height: 50px;
    }
    .password-text{
        width: 100px;
        height: 20px;
        margin-top: 145%;
        margin-left: 10%;
    }
    .password {
        width: 320px;
        height: 27px;
        margin-left: 13%;
        margin-top: 158%;
    }
}