:root { 
  --mountain-mist: #989696;

  --font-family-helvetica: "Helvetica", Helvetica;
}
.helvetica-extra-light-mountain-mist {
  color: var(--mountain-mist);
  font-family: var(--font-family-helvetica);
  font-size: 25px;
  font-style: normal;
  font-weight: 200;
}

/* mobile screen size*/
@media screen and (max-width: 800px) {

  .helvetica-extra-light-mountain-mist {
    color: var(--mountain-mist);
    font-family: var(--font-family-helvetica);
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
  }

}
