@media screen and (min-width: 700px) {
    .monthlyQuestionnaireForm {
        padding: 10px 20% 10px 20%;
    }
}

.monthlyQuestionnaireForm {
    margin-right: 10px;
}

@media screen and (min-width: 700px) {
    .monthlyQuestionnaireHeading {
        text-align: center;
        font-size: 300%;
        padding-bottom: 0.5em;
    }
}

.monthlyQuestionnaireHeading {
    text-align: center;
    padding-bottom: 0.5em;
}

.submitButtonFormat {
    text-align: center;
}